

.sm_ul{
    width: 100%;
    margin: auto;
    font-weight: 700;
    font-size: medium;
}
@media (min-width: 769px) {
    .sm_ul{
        width: 50%;
        display: flex;
        }
    .sm_ul>li>a, .ath{
        text-decoration: none;
        }
    .sm_ul>li{
    list-style-type: none;
    margin: 0px 20px;
}

}
.sm_ul>li{
    list-style-type: none;
    margin:20px;
}
.sm_ul>li>a, .ath{
    text-decoration: none;
    color: white;
}

/* small menu */

.openMenu{
    background-color: #218838;
}
.openBar{
    cursor: pointer;
    float: right;
}
.closeBar{
    cursor: pointer;
    float: right;
    font-size: 25px;
}
.scale{
    position: fixed;
    right: -300px;
    width: 200px;
    height: 100%;
    background-color: black;
    transition: .3s ease-in-out 0.3s;
    z-index: 1;
}
.scales{
    position: fixed;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: black;
    transition: .3s ease-in-out;
    z-index: 1;
}
/* small menu */

.home_banner{
    width: 100%;
    height: 25vh;
}

.card-image {
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


/* ticket page style */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.ticket_container {
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
}

.progress-bar {
    width: 0%;
    height: 30px;
    background-color: #76c7c0;
    transition: width 0.3s ease;
}

#bkashForm {
    margin-top: 20px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
